<p id="notice"><%= notice %></p>

<p>First_Title: <%= @contact.Title %></p>
<p>First_Name: <%= @contact.First_Name %></p>
<p>Last_Name: <%= @contact.Last_Name %></p>
<p>Full_Name: <%= @contact.Full_Name %></p>
<p>Organization: <%= @contact.Organization %></p>
<p>Position: <%= @contact.Position %></p>
<p>Email: <%= @contact.Email %></p>




<%= render "logs/log", :collection => @contact.logs%>

<%= link_to 'New Log', new_contact_log_path(@contact) %> 
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
