<p id="notice"><%= notice %></p>

<p>First_Title: <%= @contact.Title %></p>
<p>First_Name: <%= @contact.First_Name %></p>
<p>Last_Name: <%= @contact.First_Name %></p>
<p>Full_Name: <%= @contact.Full_Name %></p>
<p>Organization: <%= @contact.Organization %></p>
<p>Position: <%= @contact.Position %></p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
